.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
   
  
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-links {
      display: flex;
      gap: 1rem;
  
      a {
        text-decoration: none;
        color: black;
  
        &.active {
          font-weight: bold;
        }
      }
    }
  
    .sidebar-btn {
      display: none;
    }
  
    .settings-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1rem;
      cursor: pointer;
  
      &:hover {
        color: #333;
      }
    }
  
    @media (max-width: 768px) {
      .nav-links {
        display: none;
      }
  
      .sidebar-btn {
        display: block;
      }
    }
  }
  